<h1>All Recipes</h1>
<% @recipes.each do |r| %>
    <h2><%= r[:name] %></h2>
    <p><%= r[:content] %></p>
    <p>
      <a href="<%= recipe_path(r.id) %>">Read more</a>
      <a href="<%= edit_recipe_path(r.id) %>">Edit recipe</a>
      <a href="<%= recipe_path(r.id) %>" data-confirm='Are you sure' data-method="DELETE">Delete recipe</a>
    </p>
<% end %>
<p>
  <a href="<%= new_recipe_path() %>">Create recipe</a>
</p>