<% content_for(:title, @recipe.name) %>

<h1><%= @recipe.name %></h1>

<p> <%= @recipe.intro %></p>

<p> <%= @recipe.main_image %></p>

<p> <%= @recipe.number_people %></p>

<p> <%= @recipe.minutes %></p>

<p> <%= @recipe.link %></p>

<a href="<%= recipes_path %>" class="btn btn-primary">Back to all recipes</a>